html, body {
	height:100%;
    margin:0;
    padding:0;
}

.header-method-selector {
	width: 100vw;
	height: 5vh;
	text-align: center;
}

.whole-screen-sort {
	width: 100vw;
	height: 95vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}